
body {
	background-image: url(../images/bg9.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	color: #fff;
	/*defaul font from google fonts*/
	font-family: 'Patua One', cursive;
	/*background-image: url(../images/pattern4.png);*/
	/*background-color: #0070C9;*/

}

h1	{
	font-size: 50px;
	/*margin-bottom: 10px;*/
	background-color: #333;
	text-transform: uppercase;
	letter-spacing: 7px;
	text-shadow: 2px 2px #211f1f;
	padding-bottom: 5px;
	}

h2 {
	text-transform: uppercase;
	letter-spacing: 5px;
	color: #ecbb22; 
	text-shadow: 2px 2px #211f1f;
	}

#me {
	/*margin-top: 50px;*/
	height: 200px;
	width: 200px;
	border-radius: 50%;
	border-style: unset;
	border-width: 5px;
	border-color: white;
}

.about {
	/*width: 100%;*/
	font-size: 15px;
	line-height: 1.5;
	/*background-color: rgba(51,51,51,0.8);*/
	/*background-color: rgba (51,51,51);*/
	/*opacity: .8;*/
	font-family: 'Quicksand', sans-serif;
	padding: 10px;
}

.container {
	width: 500px;
		/*di gagana si margin: 0 auto; if width is not declared*/
	margin: 0 auto;
	margin-top: 150px;
	padding-top: 60px;
	padding-bottom: 30px;
	background-color: rgba(51,51,51,0.8);
	border: 1px solid rgba(255,255,255,.4);
	text-align: center;
	
}